<!DOCTYPE html>
<html>

<head>
  <title>P,R,S - Game</title>
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>
  <% include global/header %>
<!--    name: request.params.user,
    weapon: request.query.weapon,
    villain: request.query.Villain,
    vallianroll: 0
-->
  <div id="feedback">
  </div>
  <div id="throw_choice">
    <h2>Play the Game</h2>
  <h1><%=user.vallianroll%></h1>
  <h1><%=user.weapon%></h1>
<h1><%=user.villain%></h1>
<h1><%=user.name%></h1>

    </div>
    <footer>
      Brought to you by the cool kids of Software Engineering - Fall, 2018.
    </footer>
    <script src="scripts/scripts.js"></script>
  </body>

  </html>
